<div class="global-container">
    <div class="house-container">
        <div class="hall">
            <div *ngFor="let p of game?.house.hall.clients">{{p.name}}</div>
        </div>
        <div class="restroom">
            <div *ngFor="let p of playersInRestroom">Name {{p.name}}</div>
        </div>
    </div>

    <div class="sideboard-container">
        <div class="sideboard-game">
            <span class="money">$ {{game?.money}}</span>
            <span class="time">Day {{game?.day}} - {{game?.hour}}h</span>
        </div>

        <div class="big-preview">
            <!--            <img [src]="getPreviewImg()"/>-->
        </div>

        <div class="sideboard-actions">
            <button mat-raised-button (click)="openMarket()" color="primary">
                <mat-icon>store_mall_directory</mat-icon>
                Market
            </button>
        </div>
    </div>
</div>
<mat-icon>monetization_on</mat-icon>

<!--

            <video autoplay loop muted preload="none" playsinline>
                <source src="http://localhost:7777/api/m/video/general/5" type="video/mp4">
                Your browser does not support the video tag.
            </video>
-->
