.global-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100vh;
}

.house-container {
    width: 60vw;
    overflow-y: auto;
}

.room {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    margin: 4px 20px;
}

.room .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 75px;
    border-width: 4px;
    border-style: inset;
    border-radius: 10px;
    align-self: stretch;
}

.room .label span {
    transform: rotate(-90deg);
    font-size: 1.1rem;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.room.dungeon {
    background: rgba(68, 68, 68, 0.5);
}

.room.dungeon .label {
    background: #888888;
    border-color: #444444;
}

.room.bar {
    background: rgba(30, 56, 105, 0.5);
}

.room.bar .label {
    background: #3361b7;
    border-color: #1e3869;
}

.room.stage {
    background: rgba(18, 110, 133, 0.5);
}

.room.stage .label {
    background: #1aa3c5;
    border-color: #126e85;
}

.room.private {
    background: rgba(128, 19, 19, 0.5);
}

.room.private .label {
    background: #bb1c1c;
    border-color: #801313;
}

.room.bedroom {
    background: rgba(109, 4, 164, 0.5);
}

.room.bedroom .label {
    background: #9611dc;
    border-color: #6d04a4;
}

.room.school {
    background: rgba(176, 155, 12, 0.5);
}

.room.school .label {
    background: #e0c71d;
    border-color: #b09b0c;
}

.room.restroom {
    background: rgba(34, 98, 21, 0.5);
}

.room.restroom .label {
    background: #3dad26;
    border-color: #226215;
}

///////////////
// SIDEBOARD //
///////////////

.sideboard-container {
    width: 40vw;
    background-color: #666666;
    box-shadow: inset 0px 0px 30px 0px #000;
    padding: 20px;
}

.sideboard-game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 0px 10px 0px #000;
    background-color: rgba(2, 2, 2, 0.5);
    padding: 5px 10px;
}

.money {
    font-size: 1.3rem;
    color: #87b75b;
    font-weight: bold;
}

.time {
    font-size: 1.3rem;
    color: whitesmoke;
}

.sideboard-container div.big-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sideboard-container div.big-preview img {
    height: 450px;
    margin: 10px auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
}


.sideboard-actions {
    background-color: rgba(2, 2, 2, 0.2);
}
